# NecroSpider specific #
#######################
/cache/
/log/
/necrospider.db*
passwd
necrospider.crt
necrospider.key

necrospider/static/node_modules/*

necrospider/static/node_modules/alertifyjs/*
necrospider/static/node_modules/alertifyjs/build/*
necrospider/static/node_modules/alertifyjs/build/css/*

!necrospider/static/node_modules/alertifyjs/
!necrospider/static/node_modules/alertifyjs/build/
!necrospider/static/node_modules/alertifyjs/build/alertify.min.js
!necrospider/static/node_modules/alertifyjs/build/css/
!necrospider/static/node_modules/alertifyjs/build/css/alertify.min.css

necrospider/static/node_modules/bootstrap/*
necrospider/static/node_modules/bootstrap/dist/*
necrospider/static/node_modules/bootstrap/dist/js/*
necrospider/static/node_modules/bootstrap/dist/css/*
necrospider/static/node_modules/bootstrap/dist/fonts/*

!necrospider/static/node_modules/bootstrap/
!necrospider/static/node_modules/bootstrap/dist/
!necrospider/static/node_modules/bootstrap/dist/js/
!necrospider/static/node_modules/bootstrap/dist/js/bootstrap.min.js
!necrospider/static/node_modules/bootstrap/dist/css/
!necrospider/static/node_modules/bootstrap/dist/css/bootstrap.min.css
!necrospider/static/node_modules/bootstrap/dist/fonts/
!necrospider/static/node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
!necrospider/static/node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2

necrospider/static/node_modules/jquery/*
necrospider/static/node_modules/jquery/dist/*

!necrospider/static/node_modules/jquery/
!necrospider/static/node_modules/jquery/dist/
!necrospider/static/node_modules/jquery/dist/jquery.min.js

necrospider/static/node_modules/sigma/*
necrospider/static/node_modules/sigma/build/*
necrospider/static/node_modules/sigma/build/plugins/*

!necrospider/static/node_modules/sigma/
!necrospider/static/node_modules/sigma/build/
!necrospider/static/node_modules/sigma/build/sigma.min.js
!necrospider/static/node_modules/sigma/build/plugins/
!necrospider/static/node_modules/sigma/build/plugins/sigma.parsers.json.min.js
!necrospider/static/node_modules/sigma/build/plugins/sigma.plugins.dragNodes.min.js
!necrospider/static/node_modules/sigma/build/plugins/sigma.layout.forceAtlas2.min.js
!necrospider/static/node_modules/sigma/build/plugins/sigma.renderers.snapshot.min.js

necrospider/static/node_modules/tablesorter/*
necrospider/static/node_modules/tablesorter/dist/*
necrospider/static/node_modules/tablesorter/dist/js/*
necrospider/static/node_modules/tablesorter/dist/css/*
necrospider/static/node_modules/tablesorter/dist/js/extras/*

!necrospider/static/node_modules/tablesorter/
!necrospider/static/node_modules/tablesorter/dist/
!necrospider/static/node_modules/tablesorter/dist/css/
!necrospider/static/node_modules/tablesorter/dist/css/jquery.tablesorter.pager.min.css
!necrospider/static/node_modules/tablesorter/dist/css/theme.default.min.css
!necrospider/static/node_modules/tablesorter/dist/js/
!necrospider/static/node_modules/tablesorter/dist/js/jquery.tablesorter.min.js
!necrospider/static/node_modules/tablesorter/dist/js/jquery.tablesorter.widgets.min.js
!necrospider/static/node_modules/tablesorter/dist/js/extras/
!necrospider/static/node_modules/tablesorter/dist/js/extras/jquery.tablesorter.pager.min.js

necrospider/static/node_modules/d3/*

!necrospider/static/node_modules/d3/
!necrospider/static/node_modules/d3/d3.min.js

# Compiled source #
###################
__pycache__/
*.com
*.class
*.dll
*.exe
*.o
*.so
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sqlite
*.db

# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.*~
Icon?
ehthumbs.db
Thumbs.db

# Virtual environments #
########################
venv/
venv3/

# IDE #
#######
.idea
.vscode

# Test & Coverage Reports #
###########################
.coverage
coverage/
test/acceptance/results/
htmlcov/
report/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Documentation #
#################
docs/_build/
